.body {
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}

.content {
    flex: 1;
}

.navbar {
    background-color:#3C2372; /* Navy Blue */
}

/* Change the color of navbar text to light */
.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: #EAEAEA; /* Light Gray */
}

/* Change the color of navbar text on hover to provide a subtle effect */
.navbar .navbar-nav .nav-link:hover {
    color: #FFFFFF; /* White */
}

.sticky-footer {
    background-color: None;
    border-color: #fff;
    position: relative;
    bottom: 0;
    padding: 1px 0;
    width: 100%;
    text-align: center;
    color:rgba(0,0,0,0.5);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column; /* Added */
}

.modal-content {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
}

.modal-content-text {
    color: white;
}

/* .card-hover:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-link:hover .card-hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
} */

.card-link {
    text-decoration: none; 
    color: inherit;
}

/* Hover effect */
.card-link:hover .card-hover {
    box-shadow: 0 5px 100px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
} */ */

.card-hover {
    position: relative;
}

.card-hover:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); /* Adjust opacity here */
    z-index: 1;
}


.card-hover img {
    transition: filter 0.3s ease; /* Smooth transition for the image */
}

.card-hover:hover img {
    filter: brightness(50%); /* Darken the image */
}
